<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="CoarseFineLocation">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".SewageApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SewageManagement">

        <!-- MAIN / LAUNCHER ACTIVITY is now LoginActivity if not logged in, or handled by logic -->
        <!-- We'll keep LoginActivity as Launcher for simplicity -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SewageManagement">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />

        <activity android:name=".ui.auth.RegisterActivity" />
        <activity android:name=".ui.dashboard.DashboardActivity" />
        <activity android:name=".ui.complaint.SubmitComplaintActivity" />
        <activity android:name=".ui.complaint.ComplaintHistoryActivity" />
        <activity android:name=".ui.complaint.ComplaintTrackingActivity" 
                  android:label="Track Status"/>
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.admin.AdminDashboardActivity" />
        <activity android:name=".ui.admin.ManageComplaintsActivity" />
        <activity android:name=".ui.admin.ManageWorkersActivity" />
        <activity android:name=".ui.worker.WorkerDashboardActivity" />
        <activity android:name=".ui.auth.TermsActivity" />



        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBYkkCbGkRvhIwM338F6fD6fJt3ES9pHLg" />

    </application>

</manifest>
